.key {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &_label {
        color: var(--fontsecond-color);
        font-size: 0.9em;
    }

    &_input {
        background-color: var(--background-color);
        padding: 0.75em 1em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif;
        border: 1px solid var(--gray-color);
        font-size: 1em;
        width: 90%;
        max-width: 32em;
        color: var(--font-color);
        border-radius: 0.5em;

        &Error {
            border: 1px dashed #FF2020;
        }
    }
}