.combobox {
    display: flex;
    flex-direction: column;
    width: max-content;
    border: none;
}

.label {
    font-size: 0.8em;
    color: var(--fontsecond-color);
}

.select {
    padding: 0.25em 0.75em;
    font-size: 1em;
    font-family: var(--font-family);
    background-color: var(--black-color);
    color: var(--font-color);
    border-radius: 0.25em;
}