.editor {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid var(--gray-color);
    background-color: #1e1e1e;
    padding: 1em 0.5em 0.5em 0.5em;
    border-radius: 0.25em;


    &_copy {
        position: absolute;
        top: 0.35em;
        left: 0.35em;
        z-index: 6;
    }


}