.editor {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid var(--gray-color);
    background-color: #1e1e1e;
    padding: 0 0 0.5em 0;
    border-radius: 0.25em;
    overflow: hidden;


    &_copy {
        position: absolute;
        top: 3.1em;
        right: 1.25em;
        z-index: 6;
    }

    &_code {
        height: 100%;
        width: 50%;
        overflow-x: hidden;
    }


}

.header {
    display: flex;
    margin: 0 0 1em 0;
    background-color: #2c2c2c;

    &_tab {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.75em;
        padding: 0.2em 1em 0.2em 0.5em;
        border-top: 1px solid var(--blue-color);
        background-color: #0d0d0d;
        box-shadow: 0 0 1px 2px #0d0d0d50;
    }

    &_logo {
        display: flex;

        &>svg {
            width: 1.5em;
            height: 1.5em;
        }
    }

    &_name {
        color: var(--fontsecond-color);
        font-size: 0.8em;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}