.link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em;
    color: var(--purple-color);
    background-color: #00AEEF10;
    border: 1px solid var(--purple-color);
    border-radius: 0.25em;
    height: 2.5em;
    width: max-content;
    padding: 0.15em 0.5em 0.15em 0.5em;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    font-size: 1em;
    z-index: 5;

    &:hover {
        box-shadow: 0 0 3px 1px var(--purple-color);
    }

    &:not(:active) {
        animation: click 6s linear infinite;
    }

    @keyframes click {
        0% {
            transform: rotateZ(-5deg);
        }

        1% {
            transform: rotateZ(0deg) scale(.8);
        }

        2% {
            transform: rotateZ(5deg);
        }

        3% {
            transform: rotateZ(0deg) scale(.8);
        }

        4% {
            transform: rotateZ(0deg) scale(1);
        }

        100% {
            transform: rotateZ(0deg);
        }
    }

    &>svg {
        width: 2em;
        height: 2em;


        @media (width < 600px) {
            width: 1.75em;
            height: 1.5em;
        }
    }
}