.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    min-width: 12em;
    min-height: 10em;
    width: 100%;
    max-width: 650px;
    padding: 0 1.5em;
    gap: 0.5em;
}


.choice {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    max-width: 26em;
    gap: 0.75em;
    margin: 0 0 2em 0;

    &_option {
        display: grid;
        grid-template-columns: 2.5em 1fr;
        place-items: center left;
        gap: 1em;
        padding: 0.35em 1em 0.35em 0.25em;
        border-radius: 0.25em;
        border: none;
        width: 100%;
        font-family: var(--font-family);
        background-color: #212121;
        border: 1px solid #585858bb;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &Letter {
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: center;
            justify-self: center;
            border: 1px solid #88878399;
            background-color: #07070760;
            color: #b8b8b4;
            width: 2em;
            height: 2em;
            border-radius: 0.25em;
            transition: all 0.3s ease-in-out;
        }

        &Text {
            text-align: left;
            color: var(--font-color);
        }

        &:hover:not(:disabled) {
            background-color: #063635;
            border-color: #29ece580;

            & .choice_optionLetter {
                background-color: #0c5855;
                border-color: #29ece525;
                color: var(--font-color);
            }
        }

        &Select {
            background-color: #1b7e04;
            border-color: #29ec3680;
            transform: translateX(0.5em);
            opacity: 1 !important;
            cursor: default;

            & .choice_optionLetter {
                background-color: #4dec2925;
                border-color: #29ec3680;
                color: var(--font-color);
            }
        }

        &Incorrect {
            background-color: #e63e1c;
            border-color: #ec292980;
            transform: translateX(0.5em);
            opacity: 1 !important;
            cursor: default;

            & .choice_optionLetter {
                background-color: #c42626;
                border-color: #f99e8c;
                color: #ffffff;
                font-weight: 500;
            }
        }

        &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }
    }
}

.dichotomous {
    display: flex;
    gap: 1.5em;
    margin: -2em 0 0 0;

    &_option {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10em;
        height: 2.75em;
        padding: 0.4em 1em;
        border-radius: 0.5em;
        font-weight: 700;
        letter-spacing: 0.05em;
        color: var(--font-color);
        font-family: var(--font-family);
        background-color: #212121;
        border: 1px solid #585858bb;
        text-shadow: 0 0 2px #000000;
        font-size: 0.75em;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &True {
            border-color: #22ac26;
            background-color: #22ac26;
            color: var(--font-color);


        }

        &False {
            border-color: #f51717;
            background-color: #d53f3f;
            color: var(--font-color);
        }

        &Text {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.25em;
            text-transform: uppercase;
        }

        &Icon {
            width: 1.75em;
            height: 1.75em;
            animation: animationScale 0.3s both;
        }

        &:hover:not(.dichotomous_optionTrue):not(:disabled):not(.dichotomous_optionFalse) {
            background-color: #29ece525;
            border-color: #29ece580;

            & .option_letter {
                background-color: #29ece525;
                border-color: #29ece580;
                color: var(--font-color);
            }
        }


        &:disabled {
            cursor: not-allowed;
            opacity: 0.7;
        }
    }
}

@keyframes animationScale {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.blankspace {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    &_icon {
        position: absolute;
        top: 0.35em;
        left: -2em;
        border: 1px solid transparent;
        padding: 0.1em;
        width: 1.5em;
        height: 1.5em;
        border-radius: 3em;

        &Right {
            color: #3fd544;
            border-color: #3fd544;
            background-color: #3fd54412;
        }

        &Wrong {
            color: #ff1414;
            border-color: #ff1414;
            background-color: #ff141412;
        }
    }

    &_input {
        padding: 0.25em 1em;
        font-size: 1.1em;
        color: var(--font-color);
        font-family: var(--font-family);
        border-radius: 0.25em;
        margin: 0 0 2em 0;
        border: 1px solid var(--grayblack-color);
        background-color: var(--black-color);

        &:focus {
            outline: 2px solid var(--purple-color);
        }

        &:disabled {
            opacity: 0.7;
            cursor: not-allowed;
        }

        &Right {
            border-color: #3fd544;
        }

        &Wrong {
            border-color: #e32121;
        }
    }


}