.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em;
    padding: 0.5em;
    height: calc(100svh);
    z-index: 5;
}