.button {
    display: flex;
    align-items: center;
    gap: 0.75em;
    padding: 0.25em 0.5em;
    border: 2px solid var(--font-color);
    border-radius: 0.25em;
    background-color: var(--grayblack-color);
    color: var(--font-color);
    font-family: var(--font-family);
    transition: all 0.3s ease-in-out;
    width: max-content;
    filter: brightness(75%);
    cursor: pointer;

    &:hover:not(:disabled) {
        border-color: var(--font-color);
        color: var(--font-color);
        filter: brightness(100%);
        box-shadow: 0 0 3px 1px var(--font-color);
    }

    &_green {
        color: var(--green-color);
        border-color: var(--green-color);

        &:hover:not(:disabled) {
            color: var(--green-color);
            border-color: var(--green-color);
            box-shadow: 0 0 3px 1px var(--green-color);
        }
    }

    &_blue {
        color: var(--blue-color);
        border-color: var(--blue-color);

        &:hover:not(:disabled) {
            color: var(--blue-color);
            border-color: var(--blue-color);
            box-shadow: 0 0 3px 1px var(--blue-color);
        }
    }

    &_yellow {
        color: var(--yellow-color);
        border-color: var(--yellow-color);

        &:hover:not(:disabled) {
            color: var(--yellow-color);
            border-color: var(--yellow-color);
            box-shadow: 0 0 3px 1px var(--yellow-color);
        }
    }

    &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }


    &>svg {
        width: 1.25em;
        height: 1.25em;
    }

}