.main {
  /*position: relative;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5em;
  border-radius: 0.25em;
  height: calc(100svh - 1em);
  border: 1px solid var(--gray-color);
  z-index: 15;

}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100svw - 1em);
}

.code {
  position: absolute;
  top: 0.5em;
  left: -1em;
  width: 100%;
  height: 9em;
  background-repeat: repeat;
  /*background: var(--black-color);*/
  /*background-size: 50%;*/
}

/*.code_image {
  width: 100%;
  height: 100%;
  opacity: 0.085;
  background-image: url("/backcode.webp");
  animation: animationCode 15.25s infinite linear;

}*/

.shadow {
  position: absolute;
  top: 0;
  /*background: linear-gradient(0deg, var(--grayblack-color), transparent 10%, transparent 90%, var(--black-color));*/
  width: 100%;
  height: 100%;
  z-index: 1;
}

@media (width < 500px) {
  .code {
    background-size: 160%;
  }
}

@keyframes animationCode {
  to {
    background-position: 0 -110%;
  }
}

.title {
  background: linear-gradient(90deg, var(--yellow-color), var(--purple-color));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 2.5em;
  margin: 1em 0 1.5em 0;
  z-index: 2;
}

.article {
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
  padding: 1em;
  background: transparent;
  backdrop-filter: blur(3px);
  padding: 2em;
  background-color: transparent;
  z-index: 3;
}

.challenges {
  display: flex;
  background-color: red;
  width: 100%;
}

.message {
  color: var(--font-color);
  font-weight: 400;
  font-size: 1.2em;
  margin: 0.5em 0 1.5em 0;
  text-align: center;
}

.ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  list-style-type: none;
  gap: 1em;
  margin: 2em 0 0 0;
}

.li {
  position: relative;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 2fr 1.25fr;
  place-items: start center;
  gap: 0.75em;
  font-weight: 300;
  font-size: 0.95em;
  padding: 0.5em;
  min-height: 8.5em;
  border-radius: 0.5em;
  text-align: center;
  text-wrap: balance;
  border: 1px solid var(--grayblack-color);
  background-color: var(--background-color);
  color: var(--font-color);
  /*
  &:nth-child(1) {
    background: linear-gradient(120deg, #2b3025, #3d4334);
    border: 1px solid #efe82020;
  }

  &:nth-child(2) {
    background: linear-gradient(120deg, #203124, #293e2e);
    border: 1px solid #39FF1420;
  }

  &:nth-child(3) {
    background: linear-gradient(120deg, #1c2c32, #253b43);
    border: 1px solid #00AEEF20;
  }*/
}

.li_icon {
  width: 1.5em;
  height: 1.5em;
  animation: animationRotate 4s linear infinite;
  color: var(--purple-color);
}

.li_image {
  width: 3.5em;
  height: 3.5em;
  opacity: 0.5;
  color: var(--fontsecond-color);
}

/*
.li_imageOne {
  color: #efe82060;
}

.li_imageTwo {
  color: #39FF1460;
}

.li_imageThree {
  color: #00AEEF60;
}
*/
.button {
  padding: 0.25em 1em;
  margin: 3em 0;
  align-self: center;
  width: max-content;
  font-size: 1.25em;
  text-decoration: none;
  font-family: var(--font-family);
  border-radius: 0.25em;
  border: 2px solid var(--purple-color);
  background-color: var(--purple-color);
  color: var(--font-color);
  transition: all 0.3s ease-in-out;
  filter: brightness(75%);
  cursor: pointer;

  &:hover {
    border-color: var(--purple-color);
    color: var(--font-color);
    filter: brightness(100%);
    box-shadow: 0 0 3px 1px var(--purple-color);
  }
}

@keyframes animationRotate {
  to {
    transform: rotate(359deg);
  }
}