.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    padding: 0.5em;
    height: calc(100svh - 5em);
    margin: 5em 0 0 0;

    &_title {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        color: var(--yellow-color);
    }
}


.link {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    color: var(--blue-color);
    background-color: #00AEEF10;
    border: 1px solid #00AEEF;
    border-radius: 0.25em;
    padding: 0.15em 0.5em 0.15em 0;
    text-decoration: none;
    font-size: 0.6em;

    &_icon {
        width: 2em;
        height: 2em;
    }
}