.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0.5em auto;
    max-width: 900px;
    padding: 0.5em;
    border-radius: 0.25em;
    background-color: var(--black-color);


    &_label {
        background-color: var(--gray-color);
        color: var(--font-color);
        padding: 0.15em 0.5em;
        border-radius: 0.25em;
    }

    &_number {
        color: var(--purple-color);
        font-weight: 600;
    }

    &_subtitle {
        display: flex;
        gap: 0.5em;
    }

    &_title {
        color: var(--yellow-color);
        font-size: 1.2em;
    }
}


.question {
    display: flex;
    flex-direction: column;
    margin: 0.5em 0 0 0;
    gap: 0.75em;
    width: 100%;

    &_text {
        color: var(--font-color);
        font-weight: 300;
        border-radius: 0.25em;
        list-style: none;
        border: 1px solid #FFFFFF08;

        &Li {
            display: flex;
            flex-direction: column;
        }
    }


}

.details {
    appearance: none;

    &[open] {
        filter: brightness(110%);

        & .details_summary {
            background-color: var(--grayblack-color);
            filter: brightness(130%);


        }
    }

    &_summary {
        display: flex;
        align-items: center;
        color: transparent;
        border-radius: 0.15em;
        min-height: 4em;
        background-color: var(--grayblack-color);
        border-left: 4px solid #ff1414;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: var(--grayblack-color);
            filter: brightness(130%);
        }

        &Right {
            border-left: 4px solid #219625;
        }
    }

    &_arrow {
        width: 2.5em;
        height: 2.5em;
        transition: all 0.3s ease-in-out;
    }

    &_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        font-size: 0.9em;
        padding: 0.5em 0.75em;
        font-weight: 400;
        color: var(--font-color);
        font-weight: 300;

        &Container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5em;
            height: 100%;
            max-width: 90%;

            &>svg {
                width: 1.25em;
                height: 1.25em;
            }
        }
    }

    &_p {
        position: relative;
        padding: 0.75em 0.75em 0.5em 0.5em;
        border-radius: 0.25em;
        color: var(--fontsecond-color);
        border: 1px solid #FFFFFF15;
        text-wrap: stable;

        &::before {
            content: "OOi";
            color: transparent;
        }

        &>svg {
            position: absolute;
            top: 0.5em;
            left: 0.5em;
            width: 1.5em;
            height: 1.5em;
            color: #bbbb3190;
        }
    }

    &_answer {
        display: flex;
        align-items: center;
        gap: 0.75em;
        font-weight: 400;
        font-style: italic;
        padding: 0.25em 1em;
        color: var(--font-color);
        border-radius: 0.4em;
        background-color: #FFFFFF08;

        &>svg {
            width: 1.5em;
            height: 1.5em;
            color: #219625;
        }

        &Button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            background-color: transparent;
            border: none;
            color: var(--purple-color);
            opacity: 0.6;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                opacity: 0.9;
            }

            &>svg {
                width: 1.5em;
                height: 1.5em;
                transform: scale(0);
                animation: viewAnswer 0.3s ease-in-out both;

                @keyframes viewAnswer {
                    to {
                        transform: scale(1);
                    }
                }
            }

            &Text {
                color: #219625;

                &Fail {
                    color: #ff1414;
                }
            }
        }

    }

    &_container {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        padding: 0.5em;
        background-color: var(--background-color);
    }

    &[open] .details_arrow {
        transform: rotate(180deg);
    }
}

.answerMatching {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    max-height: 20em;
    gap: 0.5em;

    &_results {
        display: grid;
        grid-template-columns: 0.7fr 0.7fr;
        gap: 0.5em;

    }

    &_tag {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 0.9em;
        color: var(--fontsecond-color);
        font-weight: 300;
        padding: 0.35em;
        border-radius: 0 0.25em 0.25em 0;
        background-color: var(--gray-color);
        border: 1px solid #FFFFFF15;
        border-left: 3px solid #219625;

        &OK {
            border-top: 1px solid #FFFFFF15;
            border-bottom: 1px solid #FFFFFF15;
            border-right: 1px solid #FFFFFF15;
            border-left: 3px solid #219625;
        }

        &FAIL {
            border-top: 1px solid #FFFFFF15;
            border-bottom: 1px solid #FFFFFF15;
            border-right: 1px solid #FFFFFF15;
            border-left: 3px solid #ff1414;
        }

        &Match {
            font-weight: 400;
            border-left: 1px solid #FFFFFF15;

            &Normal {
                color: #38c93d;
            }

            &OK {
                color: #38c93d;
            }

            &FAIL {
                color: #ff1414;
            }

        }



    }
}