.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin: 0.5em;
    border-radius: 0.25em;
    border: 1px solid var(--gray-color);
    justify-content: space-between;
    overflow: hidden;
    height: calc(100svh - 1em);

    &_title {
        font-size: 1.75em;
        color: var(--font-color);
        text-align: center;
        background: linear-gradient(45deg, var(--blue-color), var(--yellow-color));
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.section {
    margin: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    z-index: 10;
    background-color: transparent;
    backdrop-filter: blur(7px);
    padding: 2em;
    border-radius: 0.5em;
}

.message {
    color: var(--font-color);
    max-width: 60ch;
    text-align: center;
    text-wrap: balance;
}

.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    gap: 1.5em;
    width: 100%;
    max-width: 1000px;
    border-radius: 0.25em;
    padding: 1.5em;
}

.subtitle {
    color: var(--font-color);
}

.article {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    border-radius: 0.25em;
    padding: 0.5em;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &_messages {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &_message {
        color: var(--fontsecond-color);
    }

    &:hover {
        & .icon {
            transform: scale(1.2);
        }
    }

    &_quiz {
        background: linear-gradient(120deg, #2b3025, #3d4334);
        border: 1px solid #efe82020;

        &:hover {
            border-color: #efe82060;
            box-shadow: 0 0 4px 2px #efe82030;
        }
    }

    &_algorithms {
        background: linear-gradient(120deg, #203124, #293e2e);
        border: 1px solid #39FF1420;

        &:hover {
            border-color: #39FF1460;
            box-shadow: 0 0 4px 2px #39FF1430;
        }
    }


}

.icon {
    width: 3em;
    height: 3em;
    transition: all 0.35s ease-in-out;

    &_one {
        color: #efe82050;
    }

    &_two {
        color: #39FF1450;
    }
}

.buttonSelect {
    color: red !important;
}